/* @import url("http://localhost:8000/css/updateForm.css"); */

body
{
    /* background-color: #393646 !important; */
}
main {
    margin-top: 20px;
}

.counts {
    position: absolute;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.modal {
    position: fixed;
    height: 300px;
    aspect-ratio: 5/3;
    margin: auto;
    padding: 1rem 1rem 0 1rem;
    border: none;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 0 20px black;
    background-color: rgb(221, 221, 221);
}

.modal::backdrop {
    background: #000000b1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.modal .model-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(20px,auto);
    justify-content: center;
}
.modal .delete-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 -1rem 0;
    height: 4rem;
    width: 100%;
    grid-column: span 2;
}
.modal .delete-warning img{
    margin: auto 0;
    position: absolute;
    height: 60px;
    aspect-ratio: 1/1;
}
.modal .text-confirm{
    grid-column: span 2;
    padding: 0;
    text-transform: capitalize;

}
.modal .text-confirm h2{
    color: rgb(52, 52, 52);
    font-size: 1.2rem;
    font-weight: 400;
    padding:   0  0 .5rem 0;
}
.modal .text-confirm p{
    color: rgb(255, 0, 0);
    font-size: .9rem;
    font-weight: 400;
}

.modal  .btn-con-delete ,
.modal .btn-goback {
    margin: 0;
    grid-column: span 1;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid red;
    height: 40px;
    width: 95%;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(74, 72, 72);

}

.modal .btn-con-delete:hover,
.modal .btn-goback:hover {
    scale: .99;
    transform: translateY(-3px);
    background-color: #3e3b3be5;
    color: white;

}

.modal .btn-con-delete {
    background-color: rgb(240, 35, 35);
    color:rgb(0, 0, 0);
}

.modal .btn-goback {
    background-color: transparent;
    color:rgb(255, 0, 0);

}




/*  */
/*  */
/*  */

.table-wrapper {
    width: min(1100px, 100% - 3rem);
    margin-inline: auto;
}

caption {
    background: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
}

table {
    background-color: #CADEFC;
    border-collapse: collapse;
    width: 100%;
    margin-inline: auto;
    border: 1px solid black;
    font-size: 1rem;
    color: #060606;
    font-family: Arial, sans-serif;

}

tr:nth-of-type(2n) {
    background-color: #DEFCF9;
}

th, td {

    padding: .5rem;
    text-align: left;
}

th {
    border-top: 1px solid #4a1717;
    border-bottom: 1px solid #4a1717;
    background-color: #CCA8E9;
}




@media (max-width:650px) {
    th {
        display: none;
    }

    td {
        display: grid;
        grid-template-columns: 15ch auto;
    }

    td:first-child {
        padding-top: 2rem;
    }

    td:last-child {
        padding: 1rem .5rem;
        display: flex;
        gap: 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700px;
        text-transform: capitalize;
    }
}


.search-bar {
    position: relative;
    display: flex;
    gap: .8rem;
    width: 75%;
    margin: .5rem auto;
}

form {
    margin: 0;
    display: flex;
    justify-content: flex-start;

}

form input {
    outline: none;
    /* width: 15rem; */
    height: 2.5rem;
    /* min-width: 20vw; */
    padding: 10px;
    padding-right: 2.5rem;
    border: none;
    border-radius: 20px;
    background: #f0f0f0;
    font-size: 16px;
    box-shadow: 0px 0px 15px rgba(255, 120, 120, 0.75);
}


form input:hover {
    border: 1.5px solid black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}

.btn-search img {
    margin: 6px 0 0 0;
    padding: 0 0;
    height: 1rem;
    width: 1rem;
}

.btn-search {
    appearance: none;
    background-color: inherit;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    padding: 0;
    margin: 0 0 0 -2.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-search:hover {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #06060635;
}

.btn-search:hover img {
    transform: scale(0.9);
}

.reset-button {
    position: relative;
}

.btn-reset {
    color: black;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(255, 172, 70);
    width: 5rem;
    height: 2.5rem;
    margin: 0;
    padding: .4rem 1rem .6rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-reset:hover {
    background-color: rgba(255, 140, 0, 0.712);
}

.btn-edit, .btn-delete {
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 4px 8px;
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-edit {
    background-color: #009dbdeb;
    color: white;
}

.btn-delete {
    background-color: #d21212eb;
    color: white;
}

.btn-delete:hover,
.btn-edit:hover {
    background-color: #b9e4ee;
    color: rgba(0, 0, 0, 0.792);
}


.counts {
    color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 0%;
    margin: 0 auto;
}

/* .user-coutn {
    margin: 0;
}

.search-count {
    margin: 0;
} */

/* 
/* 
/* 
*/
/* 
/* 
/* 
*/


.pagination {
    display: inline;
    /* margin: 1rem 50% 3rem 50%; */
    margin: auto;
    justify-content: center;
    /* text-align: center; */
}

.pagination nav {
    margin: auto;
}

ul {
    list-style: none;
}

.user-coutn {
    margin: auto 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.pagination .page-link {
    border: 1px solid #d8ebff;
    color: #007bff;
    background-color: #fff;
    padding: 6px 12px;
    margin: 0 1px;
    border-radius: 0.25rem;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    font-size: 1.3em;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination .page-link:focus,
.pagination .page-link:hover {
    font-size: 1.2em;
    color: #0056b3;
    background-color: #c1daf3;
    border-color: #dee2e6;
}